/* NameTag.css */

/* Define base font sizes using rem for scalability and responsiveness */
:root {
  --font-size-small: 1rem;      /* Base small font size (~16px) */
  --font-size-medium: 1.25rem;  /* Medium font size (~20px) */
  --font-size-large: 1.5rem;    /* Large font size (~24px) */
}

/* Adjust font sizes for larger screens */
@media (min-width: 768px) {
  :root {
      --font-size-small: 1.25rem;  /* Larger small text (~20px) */
      --font-size-medium: 1.5rem;  /* Larger medium text (~24px) */
      --font-size-large: 1.75rem;  /* Larger large text (~28px) */
  }
}

/* Further adjustments for very large screens */
@media (min-width: 1024px) {
  :root {
    --font-size-small: 1.5rem;      /* Small text size (~24px) */
    --font-size-medium: 1.75rem;    /* Medium text size (~28px) */
    --font-size-large: 2rem;        /* Large text size (~32px) */
  }
}

.label-text {
  font-weight: bold;
  font-size: var(--font-size-small); /* Responsive font size for label text */
}

.input-field {
  margin-top: 0px;
}

.text-input,
.select-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 80%; /* Adjust the width as needed */
}

.block-style {
  height: 20px; /* Adjust the height value to control the spacing */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked {
  color: #d68071; /* Set the color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked:hover {
  background-color: rgba(214, 128, 113, 0.04); /* Set the hover color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #d68071; /* Set the track color using a hex value */
}


.form-container {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 8px 16px;
  background-color: #d68071;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d6624a;
}

.label-styling {
  margin-left: 0px;
}

.controller-container {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 5px 0px 5px; 
}

.controller-container:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}