/* NameTag.css */
body {
  font-size: 1rem; /* Base body text size; reflects user/system settings */
}

h1, .tab-title {
  font-size: 2rem; /* Header text size relative to base size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.label-text {
  font-weight: bold;
  font-size: 1.5rem; /* Adjusted label text size for consistency */
}

.input-field {
  margin-top: 0;
}

.text-input,
.select-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem; /* Consistent padding relative to base size */
  width: 80%;
}

.block-style {
  height: 2rem; /* Consistent height */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked {
  color: #d68071;
}

.colored-switch .MuiSwitch-switchBase.Mui-checked:hover {
  background-color: rgba(214, 128, 113, 0.04);
}

.colored-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #d68071;
}

.form-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem; /* Consistent margin relative to base size */
}

.submit-btn {
  padding: 0.75rem 1.5rem; /* Consistent padding relative to base size */
  background-color: #d68071;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d6624a;
}

.label-styling {
  margin-left: 0;
}

.controller-container {
  margin-right: 1rem;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.controller-container:hover {
  background-color: #f0f0f0;
}
