/* Wavehand.css */
.button-rows {
  display: inline-block;
  width: 95%;
  margin-left: calc(1.875rem + 1vw); /* Responsive to system settings and screen size */
  margin-top: calc(1.25rem + 0.5vw); /* Responsive to system settings and screen size */
  margin-bottom: calc(1.25rem + 0.5vw); /* Responsive to system settings and screen size */
}

.wave-hand-button {
  padding: calc(0.625rem + 0.25vw) calc(1.25rem + 0.5vw); /* Responsive padding */
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  border-radius: calc(1.25rem + 0.25vw); /* Responsive border-radius */
  cursor: pointer;
  margin: calc(0.3125rem + 0.25vw); /* Responsive margin */
  font-size: calc(1.25rem + 0.25vw); /* Responsive font size, adjusts with system font settings and screen size */
}

.wave-hand-button:hover {
  background-color: #f0f0f0;
}

.wave-hand-button.selected {
  background-color: #d68071;
  color: white;
  font-weight: bold;
}
