/* Wavehand.css */
.button-rows {
  display: inline-block;
  width: 90%; /* Reduced width for compactness */
  margin-left: calc(1rem + 1vw); /* Smaller left margin to keep it compact */
  margin-top: calc(0.5rem + 0.5vw); /* Smaller top margin */
  margin-bottom: calc(0.5rem + 0.5vw); /* Smaller bottom margin */
}

.wave-hand-button {
  padding: calc(0.4rem + 0.25vw) calc(0.8rem + 0.5vw); /* Reduced padding for compactness */
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  border-radius: calc(0.8rem + 0.25vw); /* Smaller border-radius */
  cursor: pointer;
  margin: calc(0.2rem + 0.25vw); /* Reduced margin */
  font-size: calc(1rem + 0.3vw); /* Slightly smaller font size */
}

.wave-hand-button:hover {
  background-color: #f0f0f0;
}

.wave-hand-button.selected {
  background-color: #d68071;
  color: white;
  font-weight: bold;
}
