/* Wavehand.css */

/* Base font sizes defined using rem for scalability and accessibility */
:root {
  --font-size-small: 1rem;     /* Base small font size (~16px) */
  --font-size-medium: 1.25rem; /* Base medium font size (~20px) */
  --font-size-large: 1.5rem;   /* Base large font size (~24px) */
}

/* Adjust font sizes for larger screens */
@media (min-width: 768px) {
  :root {
    --font-size-small: 1.25rem;  /* Small text size for larger screens (~20px) */
    --font-size-medium: 1.5rem;  /* Medium text size for larger screens (~24px) */
    --font-size-large: 2rem;     /* Large text size for larger screens (~32px) */
  }
}

/* Further adjustments for very large screens */
@media (min-width: 1024px) {
  :root {
    --font-size-small: 1.5rem;   /* Small text size for large screens (~24px) */
    --font-size-medium: 2rem;    /* Medium text size for large screens (~32px) */
    --font-size-large: 2.5rem;   /* Large text size for large screens (~40px) */
  }
}

.button-rows {
  display: inline-block;
  width: 95%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wave-hand-button {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  font-size: var(--font-size-small); /* Responsive font size for button text */
}

.wave-hand-button:hover {
  background-color: #f0f0f0;
}

.wave-hand-button.selected {
  background-color: #d68071;
  color: white;
  font-weight: bold;
}
