@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define responsive font sizes */
:root {
  --font-size-small: 1rem;      /* Base small font size (~16px) */
  --font-size-medium: 1.25rem;  /* Medium font size (~20px) */
  --font-size-large: 1.5rem;    /* Large font size (~24px) */
  --font-size-heading: 2rem;    /* Base heading font size (~32px) */
  --footer-font-size: 0.5rem
}

/* Adjust font sizes for larger screens */
@media (min-width: 768px) {
  :root {
    --font-size-small: 1.25rem;  /* Larger small text (~20px) */
    --font-size-medium: 1.5rem;  /* Larger medium text (~24px) */
    --font-size-large: 1.75rem;  /* Larger large text (~28px) */
    --font-size-heading: 2.5rem; /* Larger heading font size (~40px) */
    --footer-font-size: 0.6rem

  }
}

/* Further adjustments for larger desktop screens */
@media (min-width: 1024px) {
  :root {
    --font-size-small: 1.5rem;      /* Small text size (~24px) */
    --font-size-medium: 1.75rem;    /* Medium text size (~28px) */
    --font-size-large: 2rem;        /* Large text size (~32px) */
    --font-size-heading: 3rem;      /* Larger heading font size (~48px) */
    --footer-font-size: 0.7rem
  }
}

label,
input {
  display: flex;
  flex-direction: column;
  word-wrap: break-word; 
}

label,
input {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background: #f8f9fa;
  width: 100%;
}

.footer-section {
  flex: 1; /* This will make each section flexible and divide the space equally */
  display: flex; /* Use flexbox to center the link inside the section */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0px; /* You can adjust the padding to control the spacing inside the sections */
}

.footer-link {
  display: block;
  width: 100%; /* Take the full width */
  height: 100%; /* Take the full height */
  background-color: transparent;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center; /* Ensure the text is centered */
  padding: 20px 20px; /* Add padding to the top and bottom if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: color 0.1s;
}

.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-link svg {
  width: 2rem;  /* Base size, responsive to root font size */
  height: 2rem;
}


.footer-link:hover {
  color: #d68071;
  background-color: #e9ecef;
}

.footer-link:hover svg {
  fill: #d68071;
}

.header {
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background: #f8f9fa;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.tab-list-item {
  display: block;
  width: 100%;
  height: 136px;
  background-color: transparent;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  transition: color 0.1s;
  font-size: var(--font-size-small); /* Responsive font size */
}

.tab-list-active {
  color: #d68071;
  background-color: #e9ecef;
  display: block;
  width: 100%;
  height: 136px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  transition: color 0.1s;
}

.tab-list-item:hover {
  color: #d68071;
  background-color: #e9ecef;
}

.tabs {
  width: 95%;
  margin-left: 10px;
  margin-right: 30px;
}

/* Responsive tab container design */
.tab-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5rem; /* Increase margin-bottom for better accessibility */
}

.tab-title {
  font-size: var(--font-size-large); /* Responsive font size for titles */
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  word-wrap: break-word; /* Ensures long words break and wrap onto the next line */
}



/* Specific heading sizes for hierarchy */
h1 {
  font-size: var(--font-size-heading); /* Larger size for h1 */
  word-wrap: break-word; /* Ensures long words break and wrap onto the next line */

}



